AI_KEY = "key for openrouter.ai"
APP_HOST = "host or ip of the server"
APP_PORT = "port"

POSTGRES_USER = "username for postgres"
POSTGRES_PASSWORD = "password for postgres"
POSTGRES_DB = "name of postgres database"
POSTGRES_HOST = "address of postgres server"
POSTGRES_PORT = 5432 // default postgres port